:root {
    --acent-color: #082B74; 
    --light-color: #EFECE6; 
    --dark-color: #18181B; 
    --neutral-color: #9F9990; 
    --transition-value: all 0.3s ease; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: Montserrat;
     padding: 0px 40px 0px 40px;
}

/* <!-- FUENTES --> */

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* MENU DE NAVEGACIÓN  */

nav {
    background-color: var(--light-color);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links > li {
    margin-left: 2rem;
}

.nav-links > li > a {
    color: var(--neutral-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    transition: var(--transition-value);
    font-family: Montserrat;
}

.nav-links > li > a:hover {
    color: var(--acent-color);
    font-weight: 600;
    
}

.hamburger {
    cursor: pointer;
    display: none;
}

.logo {
    font-family: Boldonse;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--neutral-color);
}

.hamburger .fa-bars {
    font-size: 1.5rem;
    color: var(--neutral-color); 
    
}

.nav-links > li > a.blue {
    color: var(--acent-color) !important;
    font-weight: 600;
}

/* HERO  */

header {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    padding: 2rem 0;
}

.hero-img {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.hero-img > img {
    width: 100%;
    min-width: 500px;
    max-width: 900px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-width: 400px;
    padding-bottom: 2rem;
}


.hero-info {
    margin: 0;
    padding: 0;
}

.hero-date {
    text-align: right;
}

.hero-date h2 {
    font-family: Boldonse;
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    font-weight: 800;
    color: var(--dark-color);
    margin: 0;
}

.hero-date p {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dark-color);
}

.hero-fest {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    margin: 0;
    padding: 0;
}

.hero-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.hero-intro h1 {
    margin: 0;
}

.hero-intro h1 img {
    /* width: 100%;
    max-width: 400px; */
    width: clamp(240px, 30vw, 400px);
    height: auto;
    display: block;
}

.hero-intro p {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    /* line-height: 1.5; */
    color: var(--dark-color);
    /* max-width: 480px; */
    margin: 0;
}

/* BOTONES HERO */
.hero-buttons {
    display: flex;
    gap: 2rem;
    align-items: center;
    /* justify-content: space-between; */
}

.hero-buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 3rem;
    border-radius: 50px;
    text-decoration: none;
    font-family: Montserrat;
    /* font-size: 1.1rem; */
    font-size: clamp(0.95rem, 1.2vw, 1.1rem);
    font-weight: 500;
    letter-spacing: 1px;
    transition: var(--transition-value);
}

.hero-buttons .btn {
    background-color: var(--neutral-color);
    color: var(--light-color);
    transition: var(--transition-value);
}

.hero-buttons .btn:hover {
    background-color: #082B74;
    font-weight: 600;
}










/* MEDIA QUERYS  */

@media screen and (max-width: 960px) {
    
   .nav-links {
    position: fixed;
    top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    right: -100%;
    transition: var(--transition-value);
   }

   .nav-links > li > a {
    font-size: 2rem;
    font-weight: 500;
  
}

   .nav-links.active {
    right: 0;
   }

   .nav-links > li {
    margin: 1.5rem 0;
   }

   .hamburger {
    display: block;
   }

    .logo {
    font-size: 1rem;
    }

    .nav-links > li > a.blue {
    color: var(--neutral-color) !important;
    font-weight: 500;
    }

    .hero-buttons {
        justify-content: center;
    }

    header {
        gap: 0;
    }

    .hero-fest {
        gap: 1.5rem;
    }

    
    /* PONER EN MEDIA QUERYS DE MÓVIL  */
    
    /* .hero-text {
    min-width: 300px;
    } */

    /* .hero-img > img {
    min-width: 300px;
    } */



}